<div class="container text-center">
  <h1><%= @restaurant.name %></h1>

  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <hr>
  <% @restaurant.reviews.each do |review| %>
    <p>
      <% review.rating.times do  %>
      ⭐️
      <% end %>
    </p>
    <p>
      <%= review.content %>
        <%= link_to "Delete",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </p>
  <% end %>
  <p><%= link_to "Submit a new review", new_restaurant_review_path(@restaurant) %></p>
  <hr>
  <p><%= link_to "Back to list of restaurants", restaurants_path %></p>
</div>
